.container
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    margin-top: 5px;
    border-top: 1px solid #7e8589;
}

h2
{
    font-family: 'Ubuntu', sans-serif;
    color: white;
}