<div class="nav-header">
    <div class="nav-Button" (click)="toggleNav()">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
    </div>
    <div class="nav-headline">
        {{headline}}
    </div>
</div>

<nav class="nav" [@navTrigger]="expandedState" (clickOutside)="toggleNav()" >
    <div class="nav-list" [@fadeInCloseBotton]="expandedState">
        <i id="closeMenu" class="fa fa-times" aria-hidden="true" (click)="toggleNav()" ></i>
        <a id="home" routerLink="/home" routerLinkActive="active">Home</a>
        <a routerLink="/settings" routerLinkActive="active">Settings</a>
        <a routerLink="/about" routerLinkActive="active">About</a>
    </div>

</nav>

<div id="routerOutlet" [@pustLeftTrigger]="expandedState">
    <router-outlet></router-outlet>
</div>