.container
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

.settingsBox
{
    font-family: 'Ubuntu', sans-serif;
    border: 1px solid #7e8589;
    border-radius: 10px;
    width: auto;
    min-height: 255px;
    padding: 7px;
    background-color: background-image -webkit-gradient(linear, left top, left bottom, from(start-color), to(end-color));
    background-image: -webkit-linear-gradient(top, #1a1c1e, transparent);
    background-image: -moz-linear-gradient(top, #1a1c1e, transparent);
    background-image: linear-gradient(to bottom, #1a1c1e, transparent);
}

.settingsBox h2
{
    color: #c66a19;
    border-bottom: 1px solid #7e8589;
}

.info p
{
    color: #19c63e;
    display: inline;
    padding: 1px;
    font-size: 18px;
}

.info .textInput
{
    float: right;
    margin-left: 7px;
}

.info .textInput:focus
{
    outline-color: #c66a19;
}

.info label
{
    color: white;
}

.info button
{
    font-family: 'Ubuntu', sans-serif;
    border-radius: 2px;
    padding: 3px;
}

.checkInput
{
    cursor: pointer;
}

.checkInput:focus
{
    outline-color: #c66a19;
}

.submitInput
{
    cursor: pointer;
}

.submitInput:focus
{
    outline-color: #c66a19;
}

.deviceBox
{
    position: relative;
    margin-left: 3px;
}

.deviceBox p
{
    text-align: left;
    max-width: 15rem;
    color: white;
}

.setupCog
{
    cursor: pointer;
    font-size: 32px;
    color: #7e8589;
    padding: 5px;
    position: absolute;
    right: 0;
    bottom: 0;
    transition: 0.4s; 
}

.setupCog:hover
{
    color: #19c63e;
}

#deleteSettingsButton
{
    cursor: pointer;
    color: #7e8589;
    float: right;
    margin-top: -50px;
    font-size: 28px;
    transition: 0.4s;
}

#deleteSettingsButton:hover
{
    color: #c66a19;
}

