<main>
  <div class="container">
    <div *ngIf="settings; then container;"></div>
    <ng-template #container>
    <div id="mainInfo" class="settingsBox info">
      <h2>Info:</h2>
      <i id="deleteSettingsButton" class="fa fa-times" aria-hidden="true" (click)="deleteSettings()"></i>
      <form #f="ngForm" (ngSubmit)="save(f.value)" >
        <label for="appName">App Name:</label><input class="textInput" id="appName" type="text" placeholder="Name"  name="appName" max="30" [(ngModel)]="settings.appName"><br><br>
        <label for="owner">Owner:</label><input      class="textInput" id="owner"   type="text" placeholder="Owner" name="owner"   max="20" [(ngModel)]="settings.owner"><br><br>
        <p>Devices:</p><br>
        <input class="checkInput" type="checkbox" id="lifx"         name="lifX"         [(ngModel)]="settings.lifX"><label for="lifx">LifeX Bulb</label> <br>
        <input class="checkInput" type="checkbox" id="philipshue"   name="philipsHue"   [(ngModel)]="settings.philipsHue"><label for="philipshue">Philips Hue</label><br>
        <input class="checkInput" type="checkbox" id="ikeatraadfri" name="ikeaTraadfri" [(ngModel)]="settings.ikeaTraadFri"><label for="ikeatraadfri">Ikea Trådfri</label><br>
        <input class="checkInput" type="checkbox" id="custom"       name="custom"       [(ngModel)]="settings.custom"><label for="custom">Custom input</label><br>
        <input class="submitInput" type="submit" value="Save">
      </form>
    </div>

    <div id="lifxInfo" class="deviceBox">
      <div *ngIf="settings.lifX; then lifx; else hidden"></div>
      <ng-template #lifx>
        <div class="settingsBox">
          <h2>LifX:</h2>
          <p>
            LifX is active, by clicking on the gear icon you 
            will be able to setup your LifX Wi-Fi bulb.
          </p>
          <i class="fa fa-cog setupCog" aria-hidden="true" title="Setup"></i>
        </div>
      </ng-template>
    </div>

    <div id="philipsHueInfo" class="deviceBox">
      <div *ngIf="settings.philipsHue; then philipsHue; else hidden;"></div>
      <ng-template #philipsHue>
        <div class="settingsBox">
          <h2>Philips Hue:</h2>
          <p>
            Setup of Philips Hue system.
          </p>
          <i class="fa fa-cog setupCog" aria-hidden="true" title="Setup"></i>
        </div>
      </ng-template>
    </div>

    <div id="ikeaTraadFriInfo" class="deviceBox">
      <div *ngIf="settings.ikeaTraadFri; then itf; else hidden;"></div>
      <ng-template #itf>
        <div class="settingsBox">
          <h2>Ikea Trådfri:</h2>
          <p>
            Setup of Ikea Trådfri system.
          </p>
          <i class="fa fa-cog setupCog" aria-hidden="true" title="Setup"></i>
        </div>
      </ng-template>
    </div>

    <div id="customInfo" class="deviceBox">
      <div *ngIf="settings.custom; then custom; else hidden;"></div>
      <ng-template #custom>
        <div class="settingsBox">
          <h2>Custom:</h2>
          <p>
            Custom devise now available for setup, this is ment for addition of e.g. weather information, 
            IOT devices or other services. By pressing on the gear icon, you will be able to
            setup a custom service(s) for your home.
          </p>
          <i class="fa fa-cog setupCog" aria-hidden="true" title="Setup"></i>
        </div>
      </ng-template>
    </div>

  </ng-template>
  </div>
</main>

